# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home2/madhyapu/sajhya.com"
PassengerBaseURI "/"
PassengerPython "/home2/madhyapu/virtualenv/sajhya.com/3.11/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv ALLOWED_HOSTS sajhya.com,www.sajhya.com
SetEnv DATABASE_URL mysql://madhyapu_sajhya_user:[_~nbMx&U-4d9XS7@localhost:3306/madhyapu_sajhya_db
SetEnv SECRET_KEY django-insecure-wb$0m-h54(@rhy+en-3xtjjbo%avy154$p_&o@7w24x5w1t1-*
SetEnv DEBUG on
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END
# Allow API requests without bot verification
<IfModule Litespeed>
RewriteEngine On
RewriteRule ^patient-app/api/ - [E=noabuse:1,L]
</IfModule>
<IfModule LiteSpeed>
RewriteEngine On
RewriteRule ^patient-app/api/ - [E=noabuse:1,L]
</IfModule>