asgiref==3.11.1
cffi==2.0.0
colorama==0.4.6
cryptography==48.0.0
diff-match-patch==20241021
Django==5.2.14
django-cors-headers==4.9.0
django-environ==0.13.0
django-import-export==4.4.1
gunicorn==26.0.0
packaging==26.2
pillow==12.2.0
pycparser==3.0
PyMySQL==1.2.0
pytz==2026.2
qrcode==8.2
sqlparse==0.5.5
tablib==3.9.0
tzdata==2026.2
